@font-face {
  font-family: "arrows";
  src: url("arrows/Arrows.ttf");
  src: local(""),
    url("arrows/Arrows.ttf") format("ttf"),
    url("arrows/Arrows.ttf") format("otf");
  }
body{
	background-color:#3D3D7F;
	/*opacity:0.4;*/
	width: 100%;
}

h1 {
	font-family: Helvetica;
	text-transform:uppercase;
	font-size: 200%;
	text-align: right;
	color:#7B79FF;
	position: relative;
	bottom:-200px;
	-webkit-transform: rotate(-90deg);
}
#title{
	width:30%;
	float:left;
}
.container {
	width: 50%;
	bottom:20px;
	right:20px;
	margin: auto;
	background:#7B79FF;
	border-radius:10px;
	padding:10px;
	overflow:hidden;
	float:left;
}

.Q, .W, .E, .A, .S, .D {
	width: 29%;
	border: 2px;
	margin: 2%;
	float: left;
	background-color: #2F2DFF;
	text-align: center;
	margin-top:20px;
	border-radius:10px;
  	color: white;
	font-family: 'arrows';
  	font-size: 48px;
} 
.Q, .E{
	opacity:0.4;
}

/*span {
	color: white;
	font-family: 'Arrows', serif;
  	font-size: 48px;
}*/

.active {
	border: 10px;
	background-color: #17167F;
}
iframe{
	width:100%;
}
#commands{
	margin:auto;
}